.centered{
  text-align: center;
}

.fullWidth {
  width: 100%;
}

.largeMarginBottom {
  margin-bottom: 3.5rem;
}

.largeMarginTop {
  margin-top: 3.5rem;
}

.scoreRow {
  border: 1px solid #000099;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.bbButton {
  padding: 1rem;
  background-color: #ffffff;
  color: #000099;
  border: 1px solid #000099;
  font-family: 'Roboto', sans-serif;
}

.bbButton:hover {
  color: #ffffff;
  background-color: #000099;
  cursor: pointer;
}
